<VirtualHost *:443>

ServerName <%=@server_name%>

# Apache will server static assets instead of histori-server
DocumentRoot <%=@doc_root%>
<Directory <%=@doc_root%>>
  Require all granted
  DirectoryIndex index.html
  Options +IncludesNOEXEC

  ExpiresActive On
  <FilesMatch "\.(ico|pdf|jpg|jpeg|png|gif|js|css|swf|flv)$">
    ExpiresDefault "access plus 1 week"
    ExpiresByType text/html "access plus 1 day"
    ExpiresByType text/css "access plus 1 day"
    ExpiresByType application/javascript "access plus 1 day"
    Header unset Pragma
    Header unset ETag
    Header unset Vary:
  </FilesMatch>
</Directory>

SSLEngine on
SSLCertificateFile      /etc/ssl/certs/<%=@cert_name%>.pem
SSLCertificateKeyFile   /etc/ssl/private/<%=@cert_name%>.key
SSLCertificateChainFile /etc/ssl/certs/StartSslIntermediate.crt
Header add Strict-Transport-Security: "max-age=15768000;includeSubdomains"

# For files with "Content-Type: text/html*" --
# insert favicons after every <head>, and insert footer before every </body>
<Location />
  FilterDeclare HISTORI_SUBST
  FilterProvider HISTORI_SUBST SUBSTITUTE "%{CONTENT_TYPE} =~ m|^text/html|"
  SUBSTITUTE 's|<head>|<head><!--#include virtual="/__favicon.html" -->|ni'
  SUBSTITUTE 's|</body>|<!--#include virtual="/__footer.html" --></body>|ni'

  FilterDeclare HISTORI_TAG
  FilterProvider HISTORI_TAG INCLUDES "%{CONTENT_TYPE} =~ m|^text/html|"

  FilterDeclare INFLATE
  FilterDeclare DEFLATE

  FilterProvider INFLATE INFLATE "%{req:Accept-Encoding} =~ /gzip/"
  FilterProvider DEFLATE DEFLATE "%{req:Accept-Encoding} =~ /gzip/"

  FilterChain INFLATE HISTORI_SUBST HISTORI_TAG DEFLATE
</Location>

# send API calls to histori-server
ProxyPass /api http://127.0.0.1:<%=@api_port%>/api
ProxyPassReverse /api http://127.0.0.1:<%=@api_port%>/api

ErrorLog ${APACHE_LOG_DIR}/<%=@server_name%>_error.log
CustomLog ${APACHE_LOG_DIR}/<%=@server_name%>_access.log combined env=!dontlog
CustomLog ${APACHE_LOG_DIR}/<%=@server_name%>.log combined

BrowserMatch "MSIE [2-6]" \
nokeepalive ssl-unclean-shutdown \
downgrade-1.0 force-response-1.0
# MSIE 7 and newer should be able to use keepalive
BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown

</VirtualHost>
